<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="techstoreBUSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50812/techstoreBUS.asmx"
                binding="basicHttpBinding" bindingConfiguration="techstoreBUSSoap"
                contract="techstoreBUS.techstoreBUSSoap" name="techstoreBUSSoap" />
        </client>
    </system.serviceModel>
</configuration>